---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";

export interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image = "/placeholder-social.jpg" } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
<style type="css">
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("/fonts/inter-v12-latin-regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fonts/inter-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("/fonts/inter-v12-latin-700.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fonts/inter-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  @font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/jetbrains-mono-v13-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("/fonts/jetbrains-mono-v13-latin-regular.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("/fonts/jetbrains-mono-v13-latin-regular.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("/fonts/jetbrains-mono-v13-latin-regular.woff") format("woff"),
      /* Modern Browsers */ url("/fonts/jetbrains-mono-v13-latin-regular.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("/fonts/jetbrains-mono-v13-latin-regular.svg#JetBrainsMono")
        format("svg"); /* Legacy iOS */
  }
  /* jetbrains-mono-700 - latin */
  @font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/jetbrains-mono-v13-latin-700.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("/fonts/jetbrains-mono-v13-latin-700.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("/fonts/jetbrains-mono-v13-latin-700.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("/fonts/jetbrains-mono-v13-latin-700.woff") format("woff"),
      /* Modern Browsers */ url("/fonts/jetbrains-mono-v13-latin-700.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("/fonts/jetbrains-mono-v13-latin-700.svg#JetBrainsMono")
        format("svg"); /* Legacy iOS */
  }
</style>
